body {
  background-color: #F5F5DC;
  background-image: url(../images/javabackground.gif);
  color: #2E0000;
  font-family: Verdana, Arial, sans-serif;
  
}
    
header {
  background-color: #D2B48C;
}

nav {
  float: left;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  width: 160px;
}

nav a {
  text-decoration: none;
}

h1 {
  background-image: url(../images/javalogo.gif);
  background-position: center;
  background-repeat: no-repeat;
  font-family: Georgia, "Times New Roman", serif;
  height: 100px;
  margin: 0;
  text-indent: -9999px;
}

h2 {
  font-family: Georgia, "Times New Roman", serif;
}

h3 {
  background-color: #E6D6A9;
  text-transform: uppercase;
}

dt {
  font-weight: bold;
}

main ul {
  list-style-image: url(../images/marker.gif);
  list-style-position: inside;
}

footer {
  background-color: #D2B48C;
  color: #000000;
  font-size: .60em;
  font-style: italic;
  padding: 10px;
  text-align: center;
}

#wrapper {
  background-color: #E2D2B0;
  box-shadow: 3px 3px 0 #2E0000;
  margin-left: auto;
  margin-right: auto;
  max-width: 2048px;
  min-width: 960px;
  width: 80%;
}

main {
  background-color: #F5F5DC;
  display: block;
  margin-left: 175px;
  padding: 20px;
}

main article {
  font-size: 90%;
  margin: 0 20% 0 20%;
  overflow: auto;
  padding: 0 5% 0 5%;
}

#hero {
  background-image: url(../images/heroroad.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #F5F5DC;
  height: 300px;
}

main img {
  float: left;
  padding-right: 2em;
}

nav ul {
  font-size: 1.2em;
  list-style-type: none;
  padding-left: 0;
}

nav a:link {
  color: #795240;
}

nav a:visited {
  color: #A58366;
}

nav a:hover, nav a:focus {
  color: #F5F5DC;
}

footer a:link {
  color: #2E0000;
}

footer a:visited {
  color: #000000;
}

footer a:hover, footer a:focus {
  color: #F5F5DC;
}

header, main, nav, footer, figure, figcaption, aside, section, article {
  display: block;
}

.mobile {
  display: none;
}

.desktop {
  display: inline;
}

label {
  display: block;
  float: left;
  padding-right: 12px;
  text-align: right;
  width: 120px;
}

input[type=date],
input[type=email],
input[type=text],
input[type=textarea]{
  display: block;
  margin-bottom: 20px;
}

input[type=submit]{
  margin-left: 130px;
}

@media only screen and (max-width: 64em) {
  body {
    background-color: #D2B48C;
    background-image: none;
    margin: 0;
  }
  
  #wrapper {
    box-shadow: none;
    min-width: 0;
    width: auto;
  }

  h1 {
    background-image: url(../images/javalogomobile.gif);
    margin: 0;
  }
  
  main {
    margin-left: 0;
  }
  
  nav {
    float: none;
    padding: 0;
    width: auto;
  }
  
  nav ul {
    text-align: center;
  }
  
  nav li {
    display: inline;
    padding: 0 0.75em 0 0.75em;
  }
}

@media only screen and (max-width: 37.5em) {
  nav li {
    background-color: #F5F5DC;
    box-shadow: 2px 2px 0 #330000;
    display: inline-block;
    font-size: 120%;
    margin: 1%;
    padding:2.5%;
    text-align: center;
    width: 5em;
  }
  
  nav a {
    display: block;
  }
  
  nav a:hover, nav a:focus{
    color: #333300;
  }
  
  main a:link {
    color: #FFFFFF;
  }
  
  main a:visited {
    color: #EAEAEA;
  }
  
  main a:hover, main a:focus {
    color: #FFD700;
  }
  
  article {
    margin: 0;
  }
  
  article img {
    display: none;
  }
  
  .hero {
    height: auto;
  }
  
  .mobile {
    display: inline;
  }
  
  .desktop {
    display: none;
  }
  
  label {
    float: none;
    text-align: left;
  }

  input[type=submit] {
    margin-left: 0;
  }
}

table {
  margin: auto;
  width: 80%;
}

td, th {
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: #D2B48C;
}